[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
html5lib = "*"
pytest = "*"
httpx = "*"
boto3 = "*"
pydantic = "*"
python-dotenv = "*"

[dev-packages]
respx = "*"

[requires]
python_version = "3.10"
